        <!-- Back to Top -->

		<a href="javascript://" class="anchor">Back to Top</a>

		<!-- End of Back to Top -->
        <!-- Footer -->

        <footer>
            <div id="userId"></div>
            <br>
            <ul>
                <li><a href="javascript:void(0)" data-target="#terms" data-toggle="modal">Terms of Use</a></li>
                <li>|</li>
                <li><a href="javascript:void(0)" data-target="#privacy" data-toggle="modal">Privacy Policy</a></li>
                <li>|</li>
                <li><a href="javascript:void(0)" data-target="#knowledge" data-toggle="modal">Knowledge Base</a></li>
            </ul>
            <h5>&copy;<span class="year"></span> Jmfcool.com, All Rights Reserved.</h5>
            <div id="version"></div>
        </footer>
        
        <!-- End of Footer -->
        <!-- iframes -->

        <div id="iframes"></div>

        <!-- End of iframes -->
        <!-- Scripts -->

        <script src="build/release.min.js"></script>
        <script src="js/script.js" type="module"></script>
        <script>
            $(function() {
                $('.bs-tooltip').tooltip();
                $('[data-toggle="tooltip"]').tooltip();
                $('[data-toggle="popover"]').popover();
            });
        </script>

        <!-- End of Scripts -->

    </body>
</html>
